* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Bree Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MovieDBBg {
  background-color: black;
  min-height: 100vh;
  margin: 0px;
}
